{% extends 'admin/base.html' %}
{% load static %}

{% block branding %}
<h1 id="head">
  <a href="http://127.0.0.1:8000/admin">
    <img src="http://127.0.0.1:8000/media/shop/images/logo2.png" alt="Logo" width="120" height="50" />
  </a>
  <span style="font-size: 20px; font-weight: bold; color: #ffffff;">
    The SandipEatsNow
  </span>
</h1>
{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'shop/assets/css/adminstyle.css' %}" />
<style>
/* Include the same CSS as above */
</style>
{% endblock %}

{% block content %}
<div class="login">
    <div id="header">
        <img src="{% static 'shop/images/logo2.png' %}" alt="Logo">
        <h1>Welcome to SandipEatsNow</h1>
    </div>
    <form id="login-form" method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" value="Login">
    </form>
    <div id="footer">
        <p><a href="#">Forgot Password?</a></p>
    </div>
</div>
{% endblock %}
